
@{
    ViewBag.Title = "GetInfo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>GetInfo</h2>
@using (Html.BeginForm())
{
    <h3> Họ và tên sinh viên: @ViewBag.hoten<input type="text" name="Họ tên sinh viên" /> </h3>
    <h3> Tuổi: @ViewBag.tuoi<input type="Text" name="Tuổi" /></h3>
    <h3> Lớp: @ViewBag.lop<input type="Text" name="Lớp" /></h3>
    <input type="submit" value="nhập lại" />
}
