
@{
    ViewBag.Title = "GetInfo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>GetInfo</h2>
@using (Html.BeginForm())
{
    <h3> Họ và tên <input type="text" name="hoten"/></h3>
    <h3> Tuổi: <input type="Text" name="tuoi" /></h3>
    <h3> Lớp: <input type="Text" name="lop" /></h3>
    <input type="submit" value="hiển thị thông tin" />
;
}
<h2>
    thông tin sinh viên: Họ và tên:@ViewBag.hoten<br>
    Tuổi:@ViewBag.tuoi<br>
    Lớp:@ViewBag.lop
</h2>